IndentWidth: 4
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 80
KeepEmptyLinesAtTheStartOfBlocks: false
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: true
