[core]
  autocrlf = false
  editor = ed
  excludesfile = ~/.gitignore
  hooksPath = ~/co/hooks
[add]
  ignoreErrors = true
[advice]
  detachedHead = false
  addIgnoredFile = false
[init]
  templateDir = ~/var/empty
  defaultBranch = master
[user]
  email = jeremy.mates@gmail.com
  name = Jeremy Mates
[alias]
  amend = "!git add -A; git commit --amend --no-edit"
  cdiff = diff --cached
  co = checkout
  di = diff
  last = log --abbrev-commit --stat -1 HEAD
  last-diff = log --cc -1 HEAD
  linode-delete = push linode --delete
  linode-master = branch --set-upstream-to=linode/master master
  master-log = log --abbrev-commit --stat master..
  master-diff = diff master..
  modified = ls-files -m
  more = "!git add -A; git commit -m more"
  sign-tag = tag -u E12C0385 -s
  st = status -sb
  up = "!git remote update -p; git merge --ff-only @{u}"
[diff]
  noprefix = true
[pull]
  ff = only
[push]
  default = simple
[color]
  ui = false
[include]
  path = ~/.gitconfig.github
