[core]
  autocrlf = false
  editor = ed
  excludesfile = ~/.gitignore
  hooksPath = ~/.gittemplate
  pager = 
[init]
  templateDir = /var/empty
[alias]
  amend = "!git add -A; git commit --amend --no-edit"
  co = checkout
  di = diff
  last = log --stat -1 HEAD
  last-diff = log --cc -1 HEAD
  more = "!git add -A; git commit -m more"
  up = "!git remote update -p; git merge --ff-only @{u}"
[pull]
  ff = only
[push]
  default = simple
[color]
  ui = false
[include]
  path = ~/.gitconfig.github
